{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <!-- добавление css стилей -->
 <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <title>Avengers {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

<nav>
    <a href="{% url 'admin:index' %}"><span>Admin</span></a> |
    <a href="{% url 'home:index' %}"><span>Info</span></a> |
    <a href="{% url 'hello:index' %}"><span>"Hello" Avenger</span></a> |
    <a href="{% url 'blog:index' %}"><span>Blog</span></a> |
    <a href="{% url 'bots:index' %}"><span>Bots</span></a> |
</nav>
    {% block body %}
    {% endblock %}
</body>
</html>
