[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"

[packages]
django = "*"
pytest = "*"
selenium = "*"
chromedriver = "*"
jinja2 = "*"
whitenoise = "*"
dynaconf = {extras = ["yaml"], version = "*"}
dj-config-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"
